* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Akwe Pro Bold', sans-serif;
    
}

/* Primeira Seção */
.header-section.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #ffffff;
    padding-left: 120px;
    padding-right: 120px;
}

.horizontal-images img {
    width: 45px; /* Ajuste conforme necessário */
    margin-right: 12px;
    filter: grayscale(100%) opacity(0.8); /* Preto e branco com transparência */
    transition: all 0.3s ease-in-out;
}

.horizontal-images img:hover {
    filter: grayscale(0%) opacity(1); /* Colorido ao passar o mouse */
}

.header-text {
    font-size: 12px;
    font-weight: bold;
}

.header-actions {
    display: flex;
    align-items: center;
}

.search-icon, .user-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;}

.search-icon, .user-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

/* Segunda Seção */
.header-section.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 15px;
    position: relative; /* Necessário para o pseudo-elemento ficar relativo a essa seção */
}

.header-section.second::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; /* Posiciona a linha logo abaixo da seção */
    height: 2.5px; /* Define a espessura da linha */
    background: linear-gradient(to right, #FFD459,orange, #FF5733, #C700C7, #017AC2); /* Cria o gradiente */
}


.nascar-logo {
    width: 130px; /* Ajuste conforme necessário */
}

.categories {
    flex-grow: 1;
    text-align: center;
}
.categories ul {
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

.categories ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: 'Akwe Pro Bold', sans-serif;
    padding-right: 85px;
    font-size: 14px;
}

.categories ul li a:hover {
        text-decoration: underline;
        color: #094aab;
      
}

/* Terceira Seção */
.header-section.third {
    display: flex; /* Definindo flex para alinhamento */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 7px 20px;
    background-color: #fff; /* Cor de fundo */
    padding-left: 120px; /* Ajusta o padding à esquerda */
    padding-right: 120px; /* Ajusta o padding à direita */
    position: relative; /* Permite posicionar elementos filhos */
}

.quick-links {
    display: flex; /* Alinha os links em linha */
    align-items: center; /* Alinha verticalmente no centro */
}

.quick-links ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Exibe os itens da lista em linha */
    gap: 15px; /* Espaço entre os links */
    margin-left: 10px; /* Margem à esquerda */
}

.quick-links ul li {
    position: relative; /* Para permitir que a linha seja posicionada corretamente */
    padding-right: 7px; /* Adiciona um espaço à direita para evitar que a linha grude no texto */
}

.quick-links ul li:not(:last-child)::after {
    content: ''; /* Adiciona um elemento vazio após o link */
    position: absolute; /* Posiciona a linha relativa ao item da lista */
    right: 0; /* Posiciona a linha na borda direita do link */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Corrige a posição vertical */
    width: .10em; /* Define a largura da linha */
    height: 15px; /* Define a altura da linha */
    background-color: rgb(163, 163, 163); /* Cor da linha */
}

.quick-links span {
    color: rgb(228, 0, 43); /* Cor do texto */
    font-size: 15px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

.quick-links ul li a {
    text-decoration: none; /* Remove o sublinhado */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-weight: bold; /* Negrito */
    font-size: .700em;
    line-height: 1.2em;
   
}

.quick-links ul li a:hover {
    color: #5f5f5f;
}

.session-one {
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-left: 130px;
    padding-right: 130px;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row; /* Mantém o texto à esquerda e a imagem à direita */
    width: 100%;
    position: relative;
}

.text-section {
    max-width: 30%; /* Controla o tamanho da seção de texto */
    padding-right: 20px;
}

.subtitle {
    color: red;
    font-size: 16px;
    margin-bottom: 5px; /* Espaçamento entre subtítulo e título */
    margin-top: 100px;
}

.main-title {
    font-size: 30px;
    color: black;
    margin-bottom: 15px; /* Espaçamento entre título e linha colorida */
    font-weight:900;
}


.main-title:hover {
    color: #011dd6; /* Azul quando o mouse passa por cima */
    cursor:pointer;
}

.gradient-2 {
    width: 115%; /* A linha se estende ao lado esquerdo da imagem */
    height: 3px;
    background: linear-gradient(to right, #FFD459, #FF4500, #FF00FF, #017AC2);
    margin-bottom: 15px; /* Espaçamento entre a linha e o pequeno texto */
}

.small-text {
    font-size: 14px;
    color: #232323;
    margin-bottom: 15px;
}

.image-section {
    max-width: 70%; /* A imagem ocupa o espaço restante */
}

.large-image {
    width: 100%;
    height: auto;
    border: 2px solid #017AC2;
}

.text-section ul {
    margin-bottom: 15px;   
}

.text-section ul li{
    margin-bottom: 15px;
    color: #232323;
    font-size: 14px;
    font-weight: 300;
    margin-left:20px;
}

.text-section ul li:hover{
    color: #011dd6;
}

.news-section {
    display: flex;
    justify-content: space-between; /* Distribui as imagens horizontalmente com espaço entre elas */
    padding: 20px 120px; /* Espaçamento lateral */
}

.news-item {
    text-align: center; /* Centraliza o texto abaixo de cada imagem */
    overflow: hidden; /* Garante que a imagem não saia do contêiner */
}

.news-item img {
    width: 240px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-bottom: 10px; /* Espaçamento entre a imagem e o texto */
    transition: transform 0.3s ease; /* Animação suave */
}

.news-title {
    font-size: 14px; /* Ajuste o tamanho do texto conforme necessário */
    color: #232323; /* Cor do texto */
    font-weight: bold;
}

.news-item img:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% ao passar o mouse */
}

.editor-title {
    padding-left:120px ;
    padding-right:120px ;
}

.editor-picks {
    font-size: 18px;
    font-weight: 900;
    color: black;
    margin-bottom: 10px; /* Espaçamento entre título e linha colorida */
    margin-top: 20px;
}


.gradient-3 {
    width: 100%; 
    height: 1.5px;
    background: linear-gradient(to right, #FFD459, #FF4500, #FF00FF, #017AC2);
    margin-bottom: 15px; /* Espaçamento entre a linha e o pequeno texto */
}



@font-face {
    font-family: 'Akwe Pro';
    src: url('fonts/AkwePro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akwe Pro';
    src: url('fonts/AkwePro-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akwe Pro';
    src: url('fonts/AkwePro-Black.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


